* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5;
}

.clear {
	clear: both;
}

#header {
	width: 800px;
	padding-bottom: 30px;
	margin: 0 auto;
}

.contentbox {
	width: 300px;
	background: url(assets/background.png) no-repeat left bottom;
	padding-bottom: 17px;
	margin: 0 auto;
}
.contentbox h2 {
	height: 25px;
	width: 270px;
	background: url(assets/background.png) no-repeat left top;
	padding: 5px 15px;
	font-size: 16px;
	color: #fff;
}
.contentbox p {
	width: 264px;
	background: #eeeff1;
	border-left: 2px solid #4396e9;
	border-right: 2px solid #4396e9;
	padding: 10px 16px 0 16px;
}

.dashboard {
	width: 800px;
	background: url(assets/large-background.png) no-repeat left bottom;
	padding-bottom: 15px;
	margin: 0 auto;
}

.dashboard h2 {
	height: 25px;
	width: 770px;
	background: url(assets/large-background.png) no-repeat left top;
	padding: 5px 15px;
	font-size: 16px;
	color: #fff;
}

.trackername {
	display: inline;
	float: left;
	width: 500px;
	background: #eeeff1;
	border-left: 2px solid #4396e9;
	padding-top: 10px;
	padding-left: 16px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 14px;
}

.trackerdetails {
	display: inline;
	float: right;
	width: 264px;
	background: #eeeff1;		
	border-right: 2px solid #4396e9;
	padding-top: 10px;
	padding-right: 16px;
	padding-bottom: 5px;
	text-align: right;
	font-size: 14px;
	font-weight: 700;
}

em { 
	font-family: Garamond, Times, serif;
	font-size: 14px;
	font-weight: 300;
	padding-bottom: 5px;
}

.details {
	clear: both;
	width: 776px;
	background: #d5dde9;
	border-left: 2px solid #4396e9;
	border-right: 2px solid #4396e9;
	border-top: 1px dotted #333333;
	border-bottom: 1px dotted #333333;
	padding-top: 10px;
	padding-left:20px;
	padding-bottom: 10px;
	display: none;
}

.controls {
	width: 780px;
	background: #eeeff1;
	border-left: 2px solid #4396e9;
	border-right: 2px solid #4396e9;
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 16px;
	padding-top: 10px;
	text-align: right;
	font-size: 9px;
}